<!DOCTYPE>
<html>
  <head>
    <title>Teabag :: Javascript Test Runner</title>
    <%= stylesheet_link_tag *@suite.stylesheets %>
    <%= javascript_include_tag *@suite.javascripts %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="teabag-fixtures"></div>

    <script type="text/javascript">
      Teabag.version = "<%= Teabag::VERSION %>";
      Teabag.fixturePath = "<%= Teabag.configuration.mount_at %>/fixtures";
      Teabag.execute()
    </script>
  </body>
</html>
