<!DOCTYPE>
<html>
  <head>
    <title>Teabag :: Javascript Test Runner</title>
    <%= stylesheet_link_tag *@suite.stylesheets %>
    <%= javascript_include_tag *@suite.javascripts %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="teabag-clearfix">
      <div id="teabag-title">
        <h1>Teabag</h1>
        <ul>
          <li>version: <b><%= Teabag::VERSION %></b></li>
          <li id="teabag-env-info"></li>
        </ul>
      </div>
      <div id="teabag-progress">
        <canvas id="teabag-progress-canvas" width="80" height="80"></canvas>
        <em id="teabag-progress-percent">0%</em>
      </div>
      <ul id="teabag-stats">
        <li>passes: <b id="teabag-stats-passes">0</b></li>
        <li>failures: <b id="teabag-stats-failures">0</b></li>
        <li>skipped: <b id="teabag-stats-skipped">0</b></li>
        <li>duration: <b id="teabag-stats-duration">&infin;</b></li>
      </ul>
    </div>

    <div id="teabag-controls" class="teabag-clearfix">
      <div id="teabag-toggles">
        <button id="teabag-use-catch">Use Try/Catch</button>
        <button id="teabag-build-full-report">Build Full Report</button>
      </div>
      <div id="teabag-filtered">
        <button onclick="window.location.href = window.location.pathname">Run All Specs</button>
      </div>
    </div>

    <hr/>

    <div id="teabag-fixtures"></div>

    <div id="teabag-report">
      <ol id="teabag-report-failures"></ol>
      <ol id="teabag-report-all"></ol>
    </div>

    <div id="mocha"></div>

    <script type="text/javascript">
      Teabag.fixturePath = '<%= Teabag.configuration.mount_at %>/fixtures';
      Teabag.execute()
    </script>
  </body>
</html>
