<!DOCTYPE html>
<html>
  <head>
    <title>Teaspoon :: Javascript Test Runner</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag *@suite.stylesheets %>
    <%= javascript_include_tag *@suite.javascripts %>
    <script src="<%= "#{Teaspoon.configuration.mount_at}/js/#{@suite.name}.config.js" %>"></script>
    <%= render @suite.boot_partial %>
  </head>
  <body data-no-turbolink>
    <%= render @suite.body_partial %>
  </body>
</html>
