<!DOCTYPE>
<html>
<head>
  <title>Teaspoon :: Javascript Test Runner</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag_for_teaspoon *@suite.stylesheets %>
  <%= javascript_include_tag_for_teaspoon *@suite.core_javascripts %>
  <script type="text/javascript">
    // pass relevant info to javascript
    Teaspoon.version = <%=raw Teaspoon::VERSION.inspect %>;
    Teaspoon.root = <%=raw Teaspoon.configuration.mount_at.inspect %>;
    Teaspoon.suites = <%=raw @suite.suites.to_json %>;
  </script>
  <% if @suite.use_require %>
    <%= javascript_include_tag_for_teaspoon *@suite.helper %>
    <script type="text/javascript">
      // When the DOM is loaded, we then use require to include currently selected file/suite, then once those are all loaded, we run Teaspoon
      // @suite.spec_javascripts_for_require strips off the .js and adds the Teaspoon prefix
      Teaspoon.onWindowLoad(function () {
        //setup the Teaspoon path prefix to load /assets
        require.config(
            <% if Rails.application.config.respond_to?('requirejs') %>
              <%= Rails.application.config.requirejs.user_config.merge({baseUrl: '/assets'}).to_json.html_safe %>
            <% else %>
              {
                baseUrl: '/assets'
              }
            <% end %>
        );

        require(<%= html_escape @suite.spec_javascripts_for_require.to_json.html_safe %>, function () {
          Teaspoon.execute();
        });
      });
    </script>
  <% else %>
    <%= javascript_include_tag_for_teaspoon *@suite.spec_javascripts, @javascript_options %>
    <script type="text/javascript">
      // start the execution of the specs
      Teaspoon.onWindowLoad(Teaspoon.execute);
    </script>
  <% end %>
</head>
<body>
</body>
</html>
