<!DOCTYPE html>
<html>
  <head>
    <title>Teaspoon :: Suites</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag_for_teaspoon *(@suites.first.present? ? @suites.first.stylesheets : "teaspoon") %>
    <%= javascript_include_tag_for_teaspoon "teaspoon-teaspoon" %>
  </head>
  <body>
    <div id="teaspoon-interface">
      <div class="teaspoon-clearfix">
        <div id="teaspoon-title">
          <h1>Teaspoon</h1>
          <ul>
            <li>version: <b><%= Teaspoon::VERSION %></b></li>
            <li><a href="http://github.com/modeset/teaspoon" target="blank">http://github.com/modeset/teaspoon</a></li>
          </ul>
        </div>
        <div id="teaspoon-progress"><div class="teaspoon-indicator modeset-logo"></div></div>
      </div>
      <div id="teaspoon-controls" class="teaspoon-clearfix">
        <input type="text" id="teaspoon-filter-input" placeholder="filter files"/>
      </div>
      <hr/>
      <ul id="teaspoon-suite-list">
        <% for suite in @suites %>
          <li class="suite">
            <h1><%= link_to suite.name, suite.link %></h1>
            <ul class="file">
              <% for file in suite.spec_files %>
                <h4><%= link_to file[:name], suite.link(file: file[:path]) %></h4>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
